:root{
    --divBORDER: 2px solid rgb(247, 247, 247);
    --text-color: #fff;
    --font: 'Courier New', Courier, monospace;
    --title-colors: #998006;
}

*{
    background-color: #2c2c2c;
    scroll-behavior: smooth;
}

body{
    height: 100vh;

}

/*NAVIGAION MENU START*/

/*Logo adjustment /Landing Page*/


#logo{
    max-width: 200px;
    max-height: 220px;
    position: inherit;
}

/*MENU*/

/*NAV BAR*/

.header{
    position: fixed;
    display: flex;
    width: 95%;
    height: 25%;
    justify-content: space-evenly;
    font-family: var(--font);
}

.navBox{
    display: flex;
    align-items: center;
    width: 20%;
    text-align: center;
    background: transparent;
}

.navBox a:hover{
    padding-top: 2px;
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    
}

a:visited, a:active, a:link{
    text-decoration: none;
    color: var(--text-color);
}

.navBox a{
    vertical-align: middle;
    color: var(--text-color);
    padding-top: 0.5rem;
    text-align: initial;
}


/*landing page/name*/

.name{
    display: flex;
    position: relative;
    top: 30vh;
    color: var(--text-color);
    font-family: var(--font);
    align-items: center;
}

.name h1{
    font-size: 75px;
}

.name p{
    display: flex;
    position: absolute;
    top: 52%;
    text-align: justify;
}