:root{
    --divBORDER: 2px solid rgb(247, 247, 247);
    --text-color: white;
    --font: 'Courier New', Courier, monospace;
    --title-colors: #998006;
}

*{
    background-color: #2c2c2c;
    font-family: var(--font);
}

/*NAVIGAION MENU START*/

/*Logo adjustment /Landing Page*/


#logo{
    max-width: 200px;
    max-height: 220px;
}

/*MENU*/



.mainBox{
    position: relative;
    display: flex;
    width: 95%;
    height: 25vh;
    justify-content: space-evenly;
}

.navBox{
    display: flex;
    align-items: center;
    width: 20%;
    text-align: center;
    background: transparent;
}

.navBox a:hover{
    padding-top: 2px;
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    
}

a:visited, a:active, a:link{
    text-decoration: none;
    color: var(--text-color);
}

.navBox a{
    vertical-align: middle;
    color: var(--text-color);
    padding-top: 0.5rem;
    text-align: initial;
}


/*NAVIGATION MENU ENDS*/


/*MAIN CONTENT*/

/*TITLE*/

.title{
    color: white;
    justify-content: center;
    font-family: var(--font);
    text-align: center;
    height: 150px;
}
.title h1{
    font-size: 100px;
    padding: 0;
}
.title p{
    font-size: 50;
    padding: 0;
    top: -25px;
}

.arrow{
    transform: rotate(90deg);
    top: 15px;
    background-color: transparent;
    top: 25vw;
}

/*ABOUT*/

.about{
    display: block;
    padding-top: 20%;
    color: var(--text-color);
}

.about-Title{
    background: var(--title-colors);
    border-radius: 20px;
    height: 75px;
    width: 150px;
    align-items: center;
    display: flex;
    position: relative;
}

.about-Title h2{
    display: flex;
    position: absolute;
    background-color: transparent;
    padding-left: 7%;
    color: var(--text-color);

}

.mainBox1{
    top: 250px;
    position: relative;
    display: flex;
    width: 95%;
    height: 25vh;
    justify-content: space-evenly;
}

.navBox1{
    display: flex;
    align-items: center;
    width: 20%;
    text-align: center;
    background: transparent;
}

.navBox1 a:hover{
    padding-top: 2px;
    background: transparent;
    color: var(--text-color);
    text-decoration: none;
    
}


.navBox1 a{
    vertical-align: middle;
    color: #00ff00;
    padding-top: 0.5rem;
    text-align: initial;
}