:root{
    /*VARIABLE DEFINITIONS*/

    /*COLORS*/
    --background1: #000000;
    --background2: #15171a;
    --font-color1: #fff;
    --font-color2: #000;
    --font-family: 'Courier New', Courier, monospace;
    --title-colors: #08e600;

    /*BORDERS*/
    --organizationBorder: 1px solid red;
}

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

/*BODY*/


body{
    background-image: linear-gradient(
        90deg,
        var(--background1),
        var(--background2)
    );
}

/*HEADER /NAV BAR*/

#logo{
    max-width: 200px;
    max-height: 220px;
}
.header{
    position: relative;
    display: flex;
    width: 95%;
    height: 25vh;
    justify-content: space-evenly;
    align-items: center;
}
.navBox{
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: 20%;
    text-align: center;
    font-family: var(--font-family);
}

.navBox a:hover{
    padding-top: 50%;
}

.navBox a:visited, .navBox a:active{
    text-decoration: none;
    color: var(--font-color1);
}

.navBox a{
    margin: auto;
}

/*CONTENT*/

.main{
    display: relative;
}

.name{
    display: flex;
    position: inherit;
    align-items: center;
    justify-content: center;
}

.name h1{
    display: flex;
    position: relative;
    text-align: center;
    color: var(--title-colors);
    font-family: var(--font-family);
    font-size: 50px;
}

.name p{
    display: flex;
    position: absolute;
    padding-top: 60px;
    font-family: var(--font-family);
    color: var(--font-color1);
}

.information{
    display: flex;
    position: relative;
    color: var(--font-color1);
    text-align: justify;
    width: 50vw;
    margin: auto;
    font-family: var(--font-family);
}

.information .github{
    color: var(--font-color1);
}

.github a:visited, .github a:active{
    text-decoration: none;
    color: var(--title-colors);
}


/*EXPERTISE*/

.expertise{
    position: relative;
    text-align: left;
    margin: auto;
    top: 10vh;
    align-items: center;
    width: 60vw;
    height: 80vh;
    top: -100px;
}

img{ /*SOLO PARA EL BORDER RADIUS DE TODAS LAS IMAGENES */
    border-radius: 8px;
}

.bg-img{
    display: inline-flex;
    position: absolute;
    filter: brightness(70%) blur(4px);
    -webkit-filter: brightness(70%) blur(4px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    margin: auto;
    width: 60vw;
    height: 80vh;
    top: 4vh;
    right: 5vh;
}

.job {
    background: rgba(0, 0, 0, 0.50);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgb(0, 0, 0);
    width: 60vw;
    height: 20vh;
    margin: auto;
    top: 5px;
}

.job h3, .job h4, .job p{
    text-align: center;
    color: var(--font-color1);
    font-family: var(--font-family);
}

.index-titles{
    color: var(--title-colors);
    font-family: var(--font-family);
    margin: auto;
}

.index-titles h2{
    text-align: center;
}

.job:hover{
    background: rgba(0, 0, 0, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgb(0, 0, 0);
    width: 60vw;
    height: 20vh;
    margin: auto;
    top: 5px;
}
/*PROJECTS*/

.projects-titles{
    color: var(--title-colors);
    font-family: var(--font-family);
    margin: auto;
}

.projects-titles h2{
    text-align: center;
}
.project-container{
    display: flex;
    position: relative;
    top: -100px;
}

.project{
    background: rgba(9, 212, 19, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    height: 280px;
    color: var(--font-color1);
    display: flex;
    position: inherit;
    align-items: baseline;
    margin: auto;
    justify-content: space-evenly;
    left: -50px;
}

.project:hover{
    background: rgba(9, 212, 19, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgb(0, 0, 0);
    width: 20%;
    height: 280px;
    color: var(--font-color1);
    display: flex;
    position: inherit;
    align-items: baseline;
    margin: auto;
    justify-content: space-evenly;
    left: -50px;
}
/*SEPARATION BETWEEN CONTENT */
.blank{
    display: flex;
    position: inherit;
    width: 100vw;
    height: 300px;
    z-index: -2;
}